@{
    ViewData["Title"] = "Home Page";
}


<div class="login-box">
  <div class="login-logo">
    <a href="index.html" class="theme-gradient-color"><b>StackOverflowClone</b></a>
  </div>
  <partial name="_LoginPartial" />
  <!-- /.login-logo -->
</div>
<!-- /.home page -->

